# Ignore Python cache files
__pycache__/

# Ignore model weights
weight/

# Ignore configuration files
config
notebook/config.py
model/training/config.py/*

# Ignore results directories
results/
local_result/